/*** layout ***/
._JSM_holder{position:relative; width:100%; height:100%; font-family:verdana; font-size:12px;}

/*** menu ***/
._JSM_menu{position:absolute; left:0px; top:0px; width:100%; height:30px; line-height:30px; background:#555555; color:#FFFFFF;}
._JSM_menuPadding{padding-left:205px;}
._JSM_menuButton{font-weight:bold; line-height:30px; cursor:pointer;}
._JSM_menuBullet{color:#CACACA; font-size:8px; margin:0 3px;}


/*** coding area ***/
._JSM_codeArea{position:absolute; top:0px; width:400px; height:100%; background:#CACACA;}
._JSM_codeAreaTable{width:100%; height:100%;}
._JSM_boxLeft,._JSM_boxRight{width:50%;}
._JSM_box{height:100%;}
._JSM_boxContainer{position:relative; width:100%; height:100%; overflow:hidden;}
._JSM_boxEdit{position:absolute; left:0px; top:0px; width:100%; height:100%; margin-top:0px; border:none; resize:none; background:#FFFFFF;}
._JSM_boxLabel{position:absolute; right:5px; top:5px; padding:0 3px; border:solid #CACACA 1px; font-size:10px; color:#CACACA;}
